.leaflet-top .leaflet-control {
  margin-top: 70px;
  margin-right: 55px;
}

.leaflet-touch .leaflet-bar {
  border: none;
}

.leaflet-touch .leaflet-bar a {
  line-height: normal;
}

.measure-control {
  display: none !important;
}

#unitControlId {
  padding-top: 5px;
  display: none !important;
}

#polyline-measure-control {
  transform: rotate(180deg);
  border-top: 1px solid #ccc;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 2px !important;
  border-bottom-left-radius: 2px !important;
  border-bottom: 0px;
}
