.user-name {
  font-weight: 600 !important;
}
.m-0 {
  margin: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}
.mt-2 {
  margin-top: 0.5rem !important;
}
.mr-2 {
  margin-right: 0.5rem !important;
}
.m-2 {
  margin: 0.5rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}
.mt-1 {
  margin-top: 0.25rem !important;
}
.mr-1 {
  margin-right: 0.25rem !important;
}
.m-1 {
  margin: 0.25rem !important;
}

.ml-3 {
  margin-left: 0.75rem !important;
}

.mb-3 {
  margin-bottom: 0.75rem !important;
}
.mt-3 {
  margin-top: 0.75rem !important;
}
.mr-3 {
  margin-right: 0.75rem !important;
}
.m-3 {
  margin: 0.75rem !important;
}

.ml-4 {
  margin-left: 1rem !important;
}

.mb-4 {
  margin-bottom: 1rem !important;
}
.mt-4 {
  margin-top: 1rem !important;
}
.mr-4 {
  margin-right: 1rem !important;
}
.m-4 {
  margin: 1rem !important;
}

.ml-5 {
  margin-left: 1.25rem !important;
}

.mb-5 {
  margin-bottom: 1.25rem !important;
}
.mt-5 {
  margin-top: 1.25rem !important;
}
.mr-5 {
  margin-right: 1.25rem !important;
}
.m-5 {
  margin: 1.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}
.pt-2 {
  padding-top: 0.5rem !important;
}
.pr-2 {
  padding-right: 0.5rem !important;
}
.p-2 {
  padding: 0.5rem !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}
.pt-1 {
  padding-top: 0.25rem !important;
}
.pr-1 {
  padding-right: 0.25rem !important;
}
.p-1 {
  padding: 0.25rem !important;
}

.pl-3 {
  padding-left: 0.75rem !important;
}

.pb-3 {
  padding-bottom: 0.75rem !important;
}
.pt-3 {
  padding-top: 0.75rem !important;
}
.pr-3 {
  padding-right: 0.75rem !important;
}
.p-3 {
  padding: 0.75rem !important;
}

.pl-4 {
  padding-left: 1rem !important;
}

.pb-4 {
  padding-bottom: 1rem !important;
}
.pt-4 {
  padding-top: 1rem !important;
}
.pr-4 {
  padding-right: 1rem !important;
}
.p-4 {
  padding: 1rem !important;
}

.pt-5 {
  padding-top: 1.25rem !important;
}

.content-menu-profile {
  min-width: 210px;
}

.Toastify__toast {
  border-radius: 4px;
}

.add-image-icon {
  height: 50px !important;
  width: 50px !important;
}

.button-icon {
  align-items: center;
  display: flex !important;
  justify-content: center;
}

.image-machine {
  height: 180px;
  width: 100%;
  object-fit: contain;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  margin-bottom: -5px;
}

.icon-plus-bt-full {
  margin-top: -15px;
  margin-left: -0.5rem;
}

.card-shadow {
  border-radius: 0.225rem;
  border: 1px solid rgba(90, 97, 105, 0.1);
  /* box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1),
    0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1),
    0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12),
    0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1); */
}

.text-machine-grouped-chart {
  position: absolute;
  width: 100%;
  text-align: center;
  left: -5px;
  bottom: 0px;
}

.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+");
  background-position: bottom right;
  padding: 0 5px 5px 0;
}
.react-resizable-handle-se {
  bottom: 0;
  right: 0;
  cursor: se-resize;
  z-index: 999;
}

.flex-between {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
}

.text-start {
  text-align: start !important;
}

.text-center {
  text-align: center;
}

.Toastify__toast-body {
  white-space: pre-line;
}

.rbc-month-view {
  height: 100vh;
}

.rbc-event-content {
  white-space: normal !important;
}

.col-flex-center {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
}

.row-flex-center {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
}

.col-flex {
  display: flex !important;
  flex-direction: column !important;
}

.leaflet-div-icon-img {

}

.leaflet-div-icon-img-fpso {
  margin-top: -6px !important;
}

.leaflet-div-icon-img-move {
  margin-top: -7.5px !important;
}

.adjust-pin-flag {
  margin-top: -25px !important;
  margin-left: -3px !important;
}

.adjust-pin-start {
  margin-top: -12px !important;
  margin-left: -10px !important;
}

.adjust-pin {
  margin-top: -38px !important;
}

.leaflet-control-attribution {
  display: none;
  /* background: transparent !important;
  font-size: 8px !important; */
}

.rbc-ellipsis, .rbc-event-label, .rbc-row-segment .rbc-event-content, .rbc-show-more {
  white-space: nowrap !important;
}

.rbc-overlay {
  border-radius: 6px;
}

.row-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.col-center {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
}

.col-center-middle {
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.col-end {
  display: flex !important;
  align-items: flex-end;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.flex-row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-row-s-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.text-ellispis {
  display: inline-block;
  width: 180px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}

.w-100 {
  width: 100% !important;
}

.pin2 {
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: #fff;
  border-radius: 50%;
  border: 6px solid #fff !important;
}

.pin2::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 0px;
  bottom: -30px;
  left: -6px;
  border: 10px solid transparent;
  border-top: 17px solid #fff;
}

.leaflet-routing-container {
  display: none;
}

.hidden-content {
  display: none !important;
}

@media screen and (min-width: 768px) and (max-width: 850px) {
  .content-menu-profile {
    top: 0px !important;
    right: 0px;
    position: absolute;
  }
}

@media screen and (max-width: 767px) {
  .content-menu-profile {
    right: 0px;
    top: 0px;
    position: absolute;
    margin-right: -30px;
  }

  .center-mobile {
    text-align: center;
  }
}

.wf-180 {
  width: 180px;
}

@media screen and (max-width: 379px) {
  .content-menu-profile {
    top: 0px;
    position: absolute;
  }
}

@media screen and (min-width: 100px) and (max-width: 379px) {
  .content-menu-profile {
    margin-right: -41px;
  }
}

@media print {
  @page {
    size: A4;
    margin-top: 15mm;
    margin-bottom: 15mm;
  }
}
